/* styles/blog.module.css */
.title {
    font-family: Playfair, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 2%;
  }
  
  .blogPost {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .blog-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair', sans;
    font-weight: lighter;
  }
  
  .blog-img {
    display: flex;
    justify-content: center;
  }
  
  .content-text {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    position: relative;
  }
  
  .read-more-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .read-more {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .content-section + .content-section .blog-img {
    margin-top: 60px;
  }
  
  @media (max-width: 768px) {
    .blog-images {
    }
  
    .content-text {
    }
  
    .blog-img img {
      max-width: 100%;
    }
  
    .read-more-container {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  
    .content-section + .content-section .blog-img {
      margin-top: 60px;
    }
  }
  