.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   text-align: center;
   text-decoration: none;
   font-weight: normal;
 }
 
 .subtitle{
     font-family: 'Lato', sans-serif;
 }