/* styles/gallery.module.css */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: calc(25% - 10px); /* To account for margins */
  margin-bottom: 20px;
}

.img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 400px;
  object-fit: contain;
}

@media (max-width: 992px) {
  .gallery-item {
    width: calc(33.33% - 10px); /* To account for margins */
  }
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 10px); /* To account for margins */
  }
}

@media (max-width: 576px) {
  .gallery-item {
    width: 100%;
  }
}
