.title{
  justify-content: center;
  padding-top:5%;
  display:flex;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-item {
  margin: 10px;
}
